<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MENU</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <% include partials/_nav %>
  <body>
    <container class="menu-container">
      <h3 class="menu-title">MENU</h3>
      <% for (let catagory in menu) { %>
        <section class=<%= `menu-${catagory}`%>>
        <h4><%= catagory %></h4>
        <% for (let food of menu[catagory]) { %>
          <div class="card" style="width: 18rem;">
              <img src="..." class="food-image" alt="...">
              <div class="card-body">
                <h5 class="food-name"><%= food.name %></h5>
                <p class="food-description"><%= food.description %></p>
                <p class="food-price"><%= food.price %></p>
                <button type="submit"  class="add-to-cart btn btn-primary">Add to cart</button>
              </div>
            </div>
            <% } %>
          </section>
            <% } %>

    </container>

    <section id="cart-container">

        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                      <thead>
                      <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                      </tr>
                    </thead>
                    <!-- <tbody> -->
                      <!-- <tr>
                        <td data-th="Product">
                          <div class="row">
                            <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                            <div class="col-sm-10">
                              <h4 class="nomargin">Product 1</h4>
                              <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                            </div>
                          </div>
                        </td>
                        <td data-th="Price">$1.99</td>
                        <td data-th="Quantity">
                          <input type="number" class="form-control text-center" value="1">
                        </td>
                        <td data-th="Subtotal" class="text-center">1.99</td>
                        <td class="actions" data-th="">
                          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        </td>
                      </tr> -->
                    <!-- </tbody> -->
                    <tfoot>
                      <tr class="visible-xs">
                        <td class="text-center"><strong>Total 1.99</strong></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                      </tr>
                    </tfoot>
                  </table>
          </div>
    </section>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>
  </body>
