<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MENU</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <% include partials/_nav %>
  <body>
    <container class="menu-container">
      <h3 class="menu-title">MENU</h3>
      <% for (let catagory in menu) { %>
        <section class=<%= `menu-${catagory}`%>>
        <h4><%= catagory %></h4>
        <% for (let food of menu[catagory]) { %>
          <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= food.name %></h5>
                <p class="card-text"><%= food.description %></p>
                <p class="card-text"><%= food.price %></p>
                <a href="#" class="btn btn-primary">Add to cart</a>
              </div>
            </div>
            <% } %>
          </section>
            <% } %>

    </container>

    <section class="cart-container">

      <div class="order-info">
        <span>ITEM</span>
        <span>QTY</span>
        <span>COST</span>
      </div>

      <article class="new-order">
        (AJAX NEW SELECTED ORDER)
      </article>

      <div class="total-box">

        <div class="sub-total">
          <span>sub-total</span>
          <span>function cost of all ordered items</span>
        </div>

        <div class="taxes">
          <span>TAXES</span>
          <div class="GST">
            <span>GST</span>
            <span>function sub-total * GST</span>
          </div>
          <div class="PST">
            <span>PST</span>
            <span>function sub-total * PST</span>
          </div>
        </div>

        <div class="total">
          <span>TOTAL</span>
          <span>function cost of subtotal + GST + PST</span>
        </div>

      </div>

      <div class="checkout-button">
          <form action="http://localhost:8080/checkout">
            <input type="submit" value="CHECKOUT" />
          </form>
        </div>

    </section>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>
  </body>
