<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ADMIN PAGE</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <% include partials/_nav %>


  <body class="body-rest"><% let completed = false %>
    <% for (let statusOrder of order) {%>
      <% if (statusOrder.completed === false && statusOrder.accepted === true) {%>
            <div>
                <span>FOOD <%=statusOrder.name%></span>
            </div>

    <container class="order-container">
      <div class="order-info">
        <div class="order-id">
        <span>ORDER ID <%=statusOrder.orderid%></span>
        </div>
        <div class="total-price">
            <span>TOTAL PRICE <%=statusOrder.total_price%></span>
        </div>
        <div class="accepted">
            <span>ACCEPTED  <%=statusOrder.accepted%></span>
            </div>
        <div class=completed>
        <span>COMPLETED  <%=statusOrder.completed%></span>
        </div>
        <div class=completed>
            <span>CUSTOMER COMMENT <%=statusOrder.customer_comment%></span>
        </div>
      </div>
      <article class="new-order">
        <form method="POST" action="/restaurant">

          <input type="hidden" name = 'order_id' value="<%= statusOrder.orderid %>">
          <button>COMPLETE</button>
        </form>
        <% } else { %>
          <% completed = true %>
          <% } %>
        <% } %>
        <% if (completed === true) { %>
          ITS ALL COMPLETED
        <% } %>
        <!-- <div class="order-info">
          <div class="order-id">
          <span>ORDER ID</span>
          </div>
          <div class="total-price">
              <span>TOTAL PRICE</span>
          </div>
          <div class="accepted">
              <span>ACCEPTED</span>
              </div>
          <div class=completed>
          <span>COMPLETED</span>
          </div> -->
        </div>
      </article>
    </container>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>

  </body>
